<div class="container-fluid">
<h1 class="red-text text-center">Weather app
  <hr>
  <input type="text" #city>
  <button (click)=searchCity(city.value) >Search</button>
</h1>
<p *ngIf="temperature && cityName && humidity">{{cityName}} has tempreture of {{temperature}} °F / humidity {{humidity}} </p>

</div>
<div *ngIf="temperature && cityName && humidity" class="container-fuild">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/Weather.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Weather Details</h5>
      <span *ngIf="cityName"class="card-text">Today's Weather: {{cityName}}</span>
    </div>
    <ul class="list-group list-group-flush">
        <li *ngIf="temperature"class="list-group-item">Tempreture {{temperature}}°F</li>
        <li *ngIf="humidity"class="list-group-item">Humidity {{humidity}}</li>
        <li *ngIf="pressure"class="list-group-item">Pressure {{pressure}}</li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
</div>

<!-- <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->

<!-- <input type="text" [value]="text" (input)="updateValue($event)"><br>
{{text}} -->

<!-- <input type="text" [(ngModel)]="text" >{{text}} -->